<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <br>
   


  <div class="field col-md-offset-5 ">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="col-md-offset-5 field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field col-md-offset-5">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field col-md-offset-5">
    <%= f.label :istype %><br>
    <%= f.text_field :istype %>
  </div>
  <div class="field col-md-offset-5">
    <%= f.label :rollnumber %><br>
    <%= f.text_field :rollnumber %>
  </div>
  <div class="actions col-md-offset-5">
    <%= f.submit %>
  </div>
</div>
<% end %>
