<%= form_for(@component) do |f| %>
 

  <div class="field col-md-offset-5">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field col-md-offset-5">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field col-md-offset-5">
    <%= f.label :Quantity %><br>
    <%= f.text_field :Quantity %>
  </div>
  <div class="field col-md-offset-5">
    <%= f.label :Detail %><br>
    <%= f.text_field :Detail %>
  </div>
  <div class="field col-md-offset-5">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field col-md-offset-5">
    <%= f.label :remarks %><br>
    <%= f.text_field :remarks %>
  </div>
  <div class="field col-md-offset-5">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions col-md-offset-5">
    <%= f.submit %>
  </div>
<% end %>
