<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <%= link_to image_tag("http://lums.edu.pk/updata/websites/tiny/logo.png", alt: "LUMS logo"),
          'http://lums.edu.pk/' %>

        
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>

    </div>
  </body>
</html>